/* Style the button that is used to open and close the collapsible content */
.collapsible {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
    background-color: #ccc;
}

p.name {
    font-size: 30px;
    margin-left: 30px;
}

li {
    display: inline;
}

.linkIcon {
    width: 30px;
    float: right;
}

  /* Style the collapsible content. Note: hidden by default */
.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
}

  /*Style dropdown arrow for expandable header*/
.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

#profile-pic {
    
    border-radius: 50%;
    
    margin: 0 auto;
    height: 100%;
    width: 400px;
}

.folio-img {
    box-sizing: border-box;
    width: 450px;
    height: 400px;
    padding: 20px;
    opacity: 1;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
}
/*
.media:hover {
    background-color: #6c757d!important;
    opacity: .9;
}
*/
.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .container:hover .image {
    opacity: 0.3;
  }
  
  .container:hover .middle {
    opacity: 1;
  }
  
  .button {
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
  }